*{
	margin: 0px;
	padding: 0px;
   box-sizing: border-box;
}

.box{
		
		padding: 20px 30px;
		color: #FF5733 ;
	    background-color: rgba(255, 87, 51);
		font-family: sans-serif;
		text-align: center;
	}

	.section-1{
          width: 100%;
		height: 600px;
          background-attachment: fixed;
          background-size: cover;
          background-image: url(rr.jpg);
	}
	.section-1 h5{
          font-size: 20px;
		margin-top: 50px;
		font-weight: bold;
	}
	.box p{
		font-size: 20px;
		margin-top: 100px;
		color: #18BA05 ;
		font-weight: bold;
	   
	}

	.box h1{
		font-size: 50px;
		text-shadow:  0px 0px 5px #000;
	}
 



.bgiimage{
	      background-image: url('BG.png');
	      background-size:100% 100%;
	      width: 100%;
	      height: 100vh;

}

.menu{
      width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);	
}
.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
	color: white;
    /*ackground-color: blue;*/
}

.leftmenu h4{
	 padding-left: 30px;
	font-weight: bold;
	color: orange;
	font-size: 18px;
	font-family:'Montserrat', sans-serif;
}
.rightmenu{
	width:70%;
	height: 100px;
	float: right;
	/*background-color: red; */
}
.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:red;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}
.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:red;
}



.text p{
	font-weight: bold;
	color:red;
}


