

body{
  margin: 0;
  padding: 0;
  text-align: center;
  background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,0,0.5)),url('banner.jpg');
  background-size: cover;
  background-position: center;
  font-family: Century Gothic;
  background-size:100% 110%;
        width: 100%;
        height: 100vh;
}
.contact-tittle{
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact-tittle h1{
  font-size: 32px;
  line-height: 10px;
}
.contact-tittle h2{
  font-size: 16px;

}

form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.from-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom:1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

.box-submit{
  background:#F67F08;
  border-color: transparent;
  color:#F67F08;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 10px;
  transition: 0.2s ease;

}
form.summit:hover{
      background-color: #F67F08;
      cursor: pointer;
}
